body {
   font-family: 'Quattrocento', Georgia, "Times New Roman", Times, serif;
   margin-left: 10%;
   margin-right: 10%;
   min-width: 1100px;
}

#header { 
   background-color: #DDDDEE;        /*  RGB = 221, 221, 238 */
   border-top: 3px solid #36c;
   height: 100%; 
   overflow:hidden;
   padding: 7px;
   margin-top: 5px;
}

#header h1 { 
   font-size: 20px; 
   float: left; 
   vertical-align: middle;
   margin: 0;
   padding: 0 0 0 .3em;
}

#header li {
   font-size: 14px;
   display: inline;
   padding: .5em;
}

#header li a.selected { 
   color: black;
   text-decoration: none;
}

#header li a { 
   color: maroon;
   font-weight:bold;
   text-decoration: none;
   /*font-family: 'Muli', Verdana, Geneva, sans-serif;*/
}

#header ul {
   list-style: none; 
   float:right; 
   vertical-align: middle;
   margin: 0; 
   padding: 0;
}


/* Table of Contents */
table { 
   border-collapse: collapse;
   border: 2px solid #FFFAFA; 
}
td {
   padding: 10px; 
}

 

/* anchor tag <a> inside of an <h1> tag, we do not want it to be underlined */
#header h1 a {
   text-decoration: none; 
   color: black;
}

a {
   color: blue;
}



#content { 
   font-size: 16px;
   font-family: 'Quattrocento', Georgia, "Times New Roman", Times, serif;
   height: 100%; 
   overflow:hidden;
   padding: 7px;
   margin-top: 5px;
}

#content h1 {
   color: maroon;
}

#content h1 a {
   text-decoration: none; 
   color: maroon;
}

#content h3 a {
   text-decoration: none; 
   color: maroon;
}

#content h3 {
   text-decoration: none; 
   color: maroon;
}

#content a {
   color: black;
}
